@using WebPagos.Models.DTO
@model List<WebPagos.Models.DTO.Pago>


<br />
<center><h1>Pagos</h1></center>
<br />


@{ if (Model.Count() > 0)

    {
        <table id="TblPagos" class="table display nowrap table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo pago</th>
                    <th scope="col">Medio pago</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var pago in Model)
                {
                    <tr>
                        <td>@pago.idFolio</td>
                        <td>@pago.rutPago</td>
                        <td>@pago.montoPago</td>
                        <td>@pago.estadoPago</td>
                        <td>@pago.fechaPago</td>
                        <td>@pago.tipoPago</td>
                        <td>
                            @Utils.TipoPagos(Convert.ToInt32(pago.medioPago))

                            @{
                                var auxmediopago = 3;
                                if (Convert.ToInt32(pago.medioPago) == 1)
                                {
                                    <a href="@Url.Action("Regularizar", "Pago", new { rutPago = @pago.rutPago, medioPago = auxmediopago })">
                                        <img src="~/Content/images/setting.png" style="height:18px; width:18px;" title="Regularizar" />
                                    </a>
                                }
                            }
                        </td>
                    </tr>           
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No se han encontrado documentos.</p>
     }

}




